{% extends "base.html" %}
{% block title %}Projects{% endblock title%}
{% block projectactive %}active{% endblock projectactive%}
{% block footer%}absolute{% endblock footer%}
{% load static %}
  {% block body %}
      <div class="container">
        <h2 class="text-center my-3 py-3">My Projects</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src={% static "img/photo-blog-website.jpg" %} class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Blog Website</h5>
                <p class="card-text">Mountaincoder (python, django based Project)</p>
                <p class="card-text">Description...</p>
                <a href="#" class="btn btn-primary">Github Link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src={% static "img/photo-image-uploader.jpg" %} class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Image Uploader</h5>
                <p class="card-text">PicAdd (python, django based Project)</p>
                <p class="card-text">Description...</p>
                <a href="#" class="btn btn-primary">Github Link</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src={% static "img/photo-text-reader.jpg" %} class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Text Reader</h5>
                <p class="card-text">Text to speech (AWS based project)</p>
                <p class="card-text">Description...</p>
                <a href="http://sourcepolly.s3-website-us-east-1.amazonaws.com" class="btn btn-primary">Project Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>  

      {% endblock body %}